@media (max-width: 1600px) {
  .heading {
    width: 50%;
  }
}

@media (max-width: 1280px) {
  .container {
    max-width: 1140px;
  }

  /* Footer Responsive Start */
  footer .media:nth-child(3) h5 {
    font-size: 17px;
  }

  footer .media-recent {
    width: 250px;
  }

  /* Footer Responsive Stop */
}

@media (max-width: 1120px) {
  .container {
    max-width: 960px;
  }

  /* Choose Responsive Start */

  .choose-cards {
    width: 50%;
  }

  /* Choose Responsive End */

  /* About Responsive Start */

  .about-card-shape {
    padding: 0;
    width: 122px;
    height: 152px;
  }

  /* About Responsive End */

  /* Project Responsive Start */

  .photo-block {
    flex-direction: column;
  }

  .photo-row {
    flex-direction: row;
  }

  /* Project Responsive End */
}

@media (max-width: 853px) {
  .container {
    max-width: 720px;
  }

  .heading {
    width: 90%;
  }

  /* Choose Responsive Start */
  .choose-heading {
    flex-direction: column;
  }

  .choose-heading .heading,
  p {
    width: 90% !important;
  }

  .choose-info {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .choose-cards {
    width: 90%;
    margin-top: 40px;
    gap: 20px;
  }

  .choose-img {
    max-width: 90%;
    margin-top: 40px;
  }

  /* Choose Responsive End */

  /* Project Responsive Start */
  .photo {
    width: 100%;
    height: 340px;
  }

  .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* Project Responsive End */

  /* Process Responsive Start */
  .simple-title h2 {
    font-size: 30px;
  }

  .process-cart-row {
    width: 47%;
  }

  .process-cart {
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 30px;
  }

  .process-img p {
    width: 25% !important;
    height: 25%;
    line-height: 30px;
  }

  .process-details p {
    font-size: 16px;
  }

  /* Process Responsive End */

  /* Team Member Responsive Start */

  .team-member-row {
    flex-wrap: wrap;
    gap: 0 !important;

  }

  .team-member-card {
    width: 47%;
    flex: 0 0 auto;
  }


  /* Team Member Responsive End */

  /* Team Responsive Start  */

  .team-content .container {
    flex-direction: column;
  }

  .team-card {
    text-align: center;
  }

  .team-row {
    width: 100%;
    justify-content: space-around;
  }

  /* Team Responsive End  */

  /* About Responsive Start */
  .person1 {
    display: none;
  }

  .about-card {
    width: 100%;
  }

  .about-card-shape {
    padding: 20px 25px;
    width: 162px;
    height: 200px;
  }

  /* Team Responsive End */

  /* News Responsive Start */
  .news-cart-container {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .new-cart {
    width: 45%;
  }

  .new-cart:nth-child(3) {
    margin-top: 40px;
  }

  /* News Responsive End */

  /* Footer Responsive Start */
  .media-container {
    flex-direction: column;
    gap: 0px;
  }

  .media {
    width: 100%;
  }

  .media:nth-child(3) {
    padding: 20px;
  }

  footer .media-row {
    flex-direction: column;
    gap: 40px;
  }

  .widget-container {
    margin-left: 120px;
  }

  .widget {
    width: 100%;
  }

  .media-row:nth-child(1) {
    gap: 80px;
  }

  /* Footer Responsive Stop */
}

@media (max-width: 608px) {
  .container {
    max-width: 540px;
  }

  /* Choose Responsive Start */
  .choose-info {
    justify-content: center;
    align-items: center;
  }

  .choose-cards {
    margin-right: 0;
  }

  /* Choose Responsive End */

  /* Project Responsive Start */
  .photo-block {
    width: 100%;
  }

  .photo-row {
    flex-direction: column;
  }

  /* Project Responsive End */

  /* Process Responsive Start */
  .simple-title h2 {
    font-size: 18px;
    font: bold;
  }

  .process-cart-row {
    width: 100%;
  }

  .process-cart {
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 30px;
  }

  .process-img p {
    width: 25% !important;
    height: 25%;
    line-height: 30px;
  }

  .process-details p {
    font-size: 16px;
  }

  /* Process Responsive End */

  /* About Responsive Start */

  .about-heading {
    text-align: center;
  }

  /* About Responsive End */


  /* Team Member Responsive Start */

  .team-member-row {
    flex-direction: column;
    align-items: center;
  }

  .team-member-card {
    width: 79%;
    flex: 0 0 auto;
  }


  /* Team Member Responsive End */

  /* News Responsive Start */

  .new-cart {
    width: 100%;
    margin: 20px 0;
  }

  .news-details {
    margin: 0 20px;
    padding: 0;
  }

  .news-title h2 {
    text-align: center;
    margin: 50px auto;
    padding: 0;
  }

  .news-title h2 {
    margin: 0;
    padding: 0;
    font-size: 32px;
  }


  .new-cart:nth-child(3) {
    margin-top: 0;
  }

  /* News Responsive End */

  /* Footer Responsive Start */

  footer .widget-container {
    flex-direction: column;
    width: 100%;
    gap: 40px;
    margin: 0;
  }

  .widget {
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .media-row p {
    width: 350px !important;
    text-align: justify;
  }

  .media-recent h6.title {
    width: 400px;
  }

  .media-row:nth-child(1) {
    gap: 50px;
  }

  footer .media:nth-child(3) h5 {
    font-size: 20px;
  }

  /* Footer Responsive Stop */
}

@media (max-width: 591px) {

  /* Project Responsive Start */
  .btns-row {
    flex-direction: column;
  }

  /* Project Responsive End */
}

@media (max-width: 427px) {
  .heading {
    width: 100%;
  }

  .heading h2 {
    font-size: 30px;
  }

  /* Choose Responsive Start */

  .choose-heading p {
    width: 100%;
  }

  .choose-heading .heading {
    width: 100% !important;
    margin-bottom: 20px;
  }

  .choose-card {
    padding: 20px;
  }

  .choose-card-count {
    left: 0;
    top: 82%;
    padding: 0 20px;
  }

  /* Choose Responsive End */


  /* Team Member Responsive Start */

 .team-member-info{
  padding: 20px;
 }

  /* Team Member Responsive End */
}

@media (max-width: 394px) {
  /* About Responsive Start */

  .about-card-info p {
    font-size: 11px;
  }

  .about-card-shape {
    padding: 20px 25px;
    width: 162px;
    height: 200px;
  }

  /* About Responsive End */
}