@media (max-width:1600px) {


    .heading {
        width: 50%;
    }

}




@media (max-width:1280px) {

    .container {
        max-width: 1140px;
    }
}


@media (max-width:1120px) {
    .container {
        max-width: 960px;
    }

    /* Choose Responsive Start */

    .choose-cards {
        width: 50%;
    }

    /* Choose Responsive End */

    /* About Responsive Start */

    .about-card-shape {
        padding: 0;
        width: 122px;
        height: 152px;
    }

    /* About Responsive End */

    /* Project Responsive Start */

    .photo-block {
        flex-direction: column;
    }

    .photo-row {
        flex-direction: row;
    }

    /* Project Responsive End */
}

@media (max-width:853px) {
    .container {
        max-width: 720px;
    }

    .heading {
        width: 90%;
    }

    /* Choose Responsive Start */
    .choose-heading {
        flex-direction: column;
    }

    .choose-heading .heading,
    p {
        width: 90% !important;
    }

    .choose-info {

        flex-direction: column-reverse;
        align-items: flex-start;

    }

    .choose-cards {
        width: 90%;
        margin-top: 40px;
        gap: 20px;
    }

    .choose-img {
        max-width: 90%;
        margin-top: 40px;
    }

    /* Choose Responsive End */

    /* Project Responsive Start */
    .photo {
        width: 100%;
        height: 340px;
    }

    .photo img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* Project Responsive End */

    /* Team Responsive Start  */

    .team-content .container {
        flex-direction: column;
    }

    .team-card {
        text-align: center;
    }

    .team-row {
        width: 100%;
        justify-content: space-around;
    }

    /* Team Responsive End  */

    /* About Responsive Start */
    .person1 {
        display: none;
    }

    .about-card {
        width: 100%;
    }

    .about-card-shape {
        padding: 20px 25px;
        width: 162px;
        height: 200px;
    }

    /* Team Responsive End */
}


@media (max-width:608px) {
    .container {
        max-width: 540px;
    }

    /* Choose Responsive Start */
    .choose-info {

        justify-content: center;
        align-items: center;

    }

    .choose-cards {
        margin-right: 0;
    }

    /* Choose Responsive End */


    /* Project Responsive Start */
    .photo-block {
        width: 100%;
    }

    .photo-row {
        flex-direction: column;

    }

    /* Project Responsive End */


    /* About Responsive Start */

    .about-heading {
        text-align: center;
    }

    /* About Responsive End */
}

@media (max-width:591px) {

    /* Project Responsive Start */
    .btns-row {
        flex-direction: column;
    }

    /* Project Responsive End */
}

@media (max-width:427px) {
    .heading {
        width: 100%;
    }

    .heading h2 {
        font-size: 30px;
    }

    /* Choose Responsive Start */

    .choose-heading p {
        width: 100%;
    }

    .choose-heading .heading {
        width: 100% !important;
        margin-bottom: 20px;
    }

    .choose-card {
        padding: 20px;
    }

    .choose-card-count {
        left: 0;
        top: 82%;
        padding: 0 20px;
    }

    /* Choose Responsive End */
}

@media (max-width:394px) {

    /* About Responsive Start */

    .about-card-info p {
        font-size: 11px;
    }

    .about-card-shape {
        padding: 20px 25px;
        width: 162px;
        height: 200px;
    }

    /* About Responsive End */
}