* {
    font-family: "Plus Jakarta Sans", sans-serif;
    ;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --main-blue: #246bfd;
    --heading-color: #101a29;
    --paragraph-color: #737588;
    --body-font-family: "Plus Jakarta Sans", sans-serif;
    --heading-font-family: "Plus Jakarta Sans", sans-serif;
    --body-font-size: 16px;
    --line-height30: 1.7;

}

h1,
h2,
h3,
h4,
h5,
h6 {

    font-weight: 600;
    font-family: var(--heading-font-family);
    line-height: 1.2;
}

h6 {

    font-size: 16px;
    margin-bottom: 1rem;

}

h2 {
    font-size: 40px;

}

/* header start */
.top-bar {
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between; /* Kenarlara yakınlaştırır */
    padding-left: 200px;
    padding-right: 200px;
    gap: 120px; /* İki bölüm arasındaki boşluğu artırır */
}

.contact-info {
    height: 8vh;
    font-size: 14px;
    color: #73758f;
    display: flex;
    gap: 10px;
    align-items: center;
}

.contact-info a {
    color: #73758f;
    text-decoration: none;
}

.social-media {
    display: flex;
    align-items: center;
    color: #73758f;
}

.social-media a {
    color: #73758f;
    margin-left: 15px;
    font-size: 18px;
}

.main-menu {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 25px 200px 25px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.main-menu img {
    height: auto;
    width: auto;
    max-width: 150px;
}

.main-menu ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin-left: 0;
}

.main-menu ul li {
    position: relative;
}

.main-menu ul li a {
    text-decoration: none;
    color: #333;
    font-size: 15px;

    transition: 0.5s ease;
}

.main-menu ul li a:hover {
    color: #007bff;
}

.dropdown-menu {
   
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column;
    opacity: 0; /* Başlangıçta görünmez */
    visibility: hidden; /* Başlangıçta görünmez */
    position: absolute;
    top: 52px;
    gap: 0 !important;
    left: 0;
    padding: 0 !important;
    border: none !important;
    background-color: #ffffff;
    list-style: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: opacity 0.3s ease, visibility 0.3s ease; /* Geçiş efektleri */
}

.dropdown-menu li {
    min-width: 210px !important;
    display: block;
    margin-left: 0;
    line-height: 22px;
    font-size: 15px;
    transition: all .4s ease;
    border-bottom: 1px solid #f5f5f5;
}

.dropdown-menu li a {
    display: block;
    padding: 10px 20px;
    white-space: nowrap;
    transition: all .3s;
    color: #050a30;
    font-size: 14px;
    font-weight: 500;
    transition: all .4s ease;
    position: relative;
}

.dropdown-menu li:hover > a {
    background-color: var(--main-blue) !important; 
    color: white !important;
}

.dropdown:hover .dropdown-menu,
.dropdown-menu:hover {
    opacity: 1; /* Görünür hale gelir */
    visibility: visible; /* Görünür hale gelir */
}





/* header end */



/* 
main start */

.main {
    background-image: url(./image/1.png);
    background-size: cover;
    background-position: center;
    color: #ffffff;
    padding: 100px 50px;
    display: flex;
    align-items: center;
    height: 100vh;
}

.main-text {
    max-width: 600px;
    margin-left: 100px;
}

.main h5 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
}

.main h1 {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 1.2;
}

.main p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.main-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn-primary {
    width: 200px;
    height: 8vh;
    font-size: 16px;
    font-weight: bold;
    background-color: #007bff;
    color: #ffffff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    z-index: 2;
}
.btn-primary::after{
    content: "";
    background:black;
    position: absolute;
    transition: all .3s ease-in;
    z-index: -1;
    height: 100%;
    left: -35%;
    top: 0;
    transform: skew(30deg);
    transition-duration: .6s;
    transform-origin: top left;
    width: 0;
}
.btn-primary:hover::after{
    height: 100%;
    width: 135%;
   
}
.btn-primary .icon {
    margin-left: 8px;
    vertical-align: middle;
}

.secondary {
    display: inline-flex;
    align-items: center;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}

.secondary .icon-img {
    margin-right: 8px;
    vertical-align: middle;
}
/* .btn-primary i{
    color:black;
    font-size: 8px;
    font-weight: bold;
}
.btn-primary .i-box{
    width: 13px;
    height: 13px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
} */



/* 
main end */

/* 
services start */
.services{
    width: 100%;
    height: 100vh;
    margin-top: 50px;
}
.services .services-subtitle{
    color:var(--main-blue);
    text-align: center;
  
}
.services .services-title{
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}
.services .cards{
    width: 100%;
  
    display: flex;
    align-items: center;
    justify-content: center;
    gap:50px;
    position: relative;
}
.services .cards img{
    width: 420px;
}
.services .cards .text{
    box-shadow: 0 3px 20px rgba(0, 33, 71, .06);
    background: #fff;
    margin: -50px 20px 20px;
    position: relative;
    z-index: 2;
    padding: 40px;
    border-bottom: 6px solid #101a29;
    transition: .4s;
    text-align: center;
}


.services .cards svg {
    width: 100px;
   
}
.text h3{
    font-size: 22px;
    margin-bottom: 10px;
}

.services .svg-container {
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    left: 44%;
    bottom: 37%;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;

    
}

.services .cards  p{
    color:rgb(127, 127, 127)
}
.services .cards .card{
    position: relative;
}

.services h2{
    margin-bottom:40px;
}



/* 
form start **********************************/

.form {
    width: 80%;
 
    background-image: url(./image/14.png);
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}

.form-text {
    width: 45%;
    color: white;
    font-size: var(--body-font-size);
}

.form-text h2,
.form-text p {
    color: white;
}

.form-main {
    width: 50%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.form-main h2 {
    margin-bottom: 20px;
    font-size: 40px;
    margin-right: 20px;

}

.form-text h6 {
    color: var(--main-blue)
}

.up,
.center {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 35px;
    /* Üst ve merkez input grupları arasına boşluk */
}

input {
    width: 48%;
    height: 7vh;
    border: 1px solid rgb(233, 230, 230);
    border-radius: 5px;
    padding: 8px;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 30px;
    /* Her input arasında boşluk */
}

textarea {
    width: 100%;
    height: 18vh;
    border: 1px solid rgb(233, 230, 230);
    border-radius: 5px;
    padding: 10px;
    outline: none;
    box-sizing: border-box;
    resize: none;
    margin-bottom: 30px;
    /* Textarea ile üstteki input arasında boşluk */
}

.btn-form {
    height: 55px;
    line-height: 55px;
    padding: 0 30px;
     width: 100%;
    overflow: hidden;
    position: relative;
    border: 0;
    transition: all .5s ease;
    font-weight: 600;
    border-radius: 5px !important;
    z-index: 0;
    color: #fff !important;
    background: black;
    text-align: center;
}


.btn-form::after{
    content: "";
    background:var(--main-blue);
    position: absolute;
    transition: all .3s ease-in;
    z-index: -1;
    height: 100%;
    left: -35%;
    top: 0;
    transform: skew(30deg);
    transition-duration: .6s;
    transform-origin: top left;
    width: 0;
 
}

.btn-form:hover::after{
   
    height: 100%;
    width: 135%;
   
}


.text2 {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.ul1,
.ul2 {
    list-style: none;
    padding: 0;
    color: white;
    /* Metin rengi beyaz */
}

.ul1 li,
.ul2 li {
    margin-bottom: 10px;
    /* Her bir li öğesi arasında boşluk */
}

.ul1 li i,
.ul2 li i {
    margin-right: 5px;
    /* İkon ile metin arasında boşluk */
    color: blue;
    /* i etiketleri için mavi renk */
    font-size: 20px;
    font-weight: bold;
}